{% extends '@IServAdmin/admin.html.twig' %}

{% block page_title %}
    {{ _('Promote course groups') }} - {{ _('Course Group Management') }}
{% endblock %}

{% block content %}
    <h1>{{ _('Step 3: Customize group name changes') }}</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{ _('Groups which will renamed') }}</h4>
        </div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

