{# src/Stsbl/CourseGroupManagementBundle/Resources/views/Admin/check.html.twig #}
{% extends 'IServAdminBundle::admin.html.twig' %}

{% block page_title %}
    {{ _('Promote course groups') }} - {{ _('Course Group Management') }}
{% endblock %}

{% block content %}
    <h1>{{ _('Step two: Check pending promotions') }}</h1>
    <form name="stsbl_coursegroupmanagement_execute_check" class="form-horizontal" action="" role="form" method="post">
        {{ form_row(form._token) }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{ _('Groups which will renamed') }}</h4>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>{{ _('Old name') }}</th>
                <th>{{ _('New name') }}</th>
                <th>{{ _('Owner') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for key, group in transition %}
                <tr class="odd" role="row">
                    <td><input type="checkbox" name="stsbl_coursegroupmanagement_execute_check[groups][]" value="{{ key }}" checked="checked" required="false" /></td>
                    <td>{{ icon('legacy-act-group') }}{{ group.oldName }}</td>
                    <td>{{ icon('legacy-act-group') }}{{ group.newName }}</td>
                    <td>{{ icon('legacy-act-user') }}{{ group.owner }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ _('No groups will renamed.') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{ _('Groups which will deleted') }}</h4>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>{{ _('Group') }}</th>
                <th>{{ _('Owner') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for group in deleted %}
                <tr>
                    <td><input type="checkbox" name="stsbl_coursegroupmanagement_execute_check[deletedGroups][]" value="{{ group.account }}" checked="checked" required="false" /></td>
                    <td>{{ icon('legacy-act-group') }}{{ group.name }}</td>
                    <td>{{ icon('legacy-act-user') }}{{ group.owner }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ _('No groups will deleted.') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{ _('Groups which will not changed') }}</h4>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>{{ _('Group') }}</th>
                <th>{{ _('Owner') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for group in unchanged %}
                <tr>
                    <td>{{ icon('legacy-act-group') }}{{ group.oldName }}</td>
                    <td>{{ icon('legacy-act-user') }}{{ group.owner }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">{{ _('No matching groups found.') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_row(form.actions) }}
        </div>
    </div>
    </form>
{% endblock %}

